
<!-- temporary for navigation during development-->
<div class="top-bar">
    <div class="tab">
        <button (click)="navigate('inventory-management')" class="active">Inventory</button>
        <button (click)="navigate('order-management')">Orders</button>
        <button (click)="navigate('reporting')">Report</button>
        <button (click)="navigate('user-access-management')">Access</button>
    </div>
    <div class="user-info">Display Username</div>
</div>


<div class="auth-page">
    <div class="centered-container">
        <h1>Advanced Inventory Management System</h1>
    </div>

    <div class="login-container">
        <div class="login-form">
            <h1>Login</h1>
            <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="form-control" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>