<div class="dashboard">
  <aside class="sidebar">
    <!-- Sidebar: Filter Section -->
    <div class="filter-section">
      <h3>No Filter</h3>
    </div> 
  </aside>

  <main class="main-content">
    <!-- Main Content: Top Bar -->
    <div class="top-bar">
      <div class="tab">
        <button (click)="navigate('inventory-management')">Inventory</button>
        <button (click)="navigate('order-management')">Orders</button>
        <button (click)="navigate('reporting')" class="active">Report</button>
        <button (click)="navigate('user-access-management')">Access</button>
        <button (click)="navigate('customer-management')">Customer</button>
        <button (click)="navigate('supplier-management')">Supplier</button>
        <button (click)="navigate('supplier-order-management')">Supply Order</button>
      </div>
      <div class="user-info">Display Username</div>
    </div>

    <!-- Main Content: Report Listing -->
    <div class="product-list">
      <div class="list-header">
        <h2>Reporting</h2>
        <div class="header-controls">
          <!-- Container for Month and Year Dropdowns -->
          <div class="date-selectors">
            <select [(ngModel)]="selectedMonth" (ngModelChange)="fetchAndDisplayReport()">
              <option value="1">January</option>
              <option value="2">February</option>
              <option selected value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>

            <select [(ngModel)]="selectedYear" (ngModelChange)="fetchAndDisplayReport()">
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>
          <!-- Display Selected Month and Year -->
          <div class="selected-date-display">
            <h3>{{ getMonthName(reportData.totalSales.month) }} {{reportData.totalSales.year}}</h3>
          </div>
        </div>
      </div>

      <!-- Report Table -->
      <div class="report-table">
        <table>
          <thead>
            <tr>
              <th>Year</th>
              <th>Month</th>
              <th>Total Orders</th>
              <th>Total Revenue</th>
              <th>Most Sold Product</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ reportData.totalSales.year == 0 ? 'Nil' : reportData.totalSales.year}}</td>
              <td>{{ getMonthName(reportData.totalSales.month) }}</td>
              <td>{{ reportData.totalSales.totalOrders }}</td>
              <td>{{ reportData.totalSales.totalRevenue | currency }}</td>
              <td>{{ reportData.totalSales.mostSoldProduct == ''? 'Nil' : reportData.totalSales.mostSoldProduct }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Chart Section -->
      <section class="chart-section">
        <div class="bar-chart-container">
          <h3>Top 6 Most Selling Products</h3>
          <canvas id="barChart"></canvas>
        </div>

        <div class="pie-chart-container">
          <h3>Revenue By Category</h3>
          <canvas id="pieChart"></canvas>
        </div>
      </section>
    </div>
  </main>
</div>