
<div class="dashboard">
  <aside class="sidebar">
    <!-- Sidebar: Filter Section -->
    <div class="filter-section">
      <h3>Filter Products</h3>
      <input type="text" placeholder="Search by name">

      <!-- Category Dropdown -->
      <label for="category">Category:</label>
      <select id="category" name="category">
        <option value="all">All Categories</option>
        <option value="electronics">Electronics</option>
        <option value="accessories">Accessories</option>
        <option value="apparel">Apparel</option>
        <!-- Add more categories as needed -->
      </select>

      <!-- Condition Checkboxes -->
      <fieldset class="filter-section">
        <legend>Condition:</legend>
        <div class="checkbox-group">
          <input type="checkbox" id="new" name="condition" value="new">
          <label for="new">New</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="used" name="condition" value="used">
          <label for="used">Used</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="refurbished" name="condition" value="refurbished">
          <label for="refurbished">Refurbished</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="vintage" name="condition" value="refurbished">
          <label for="refurbished">Vintage</label>
        </div>
      </fieldset>

      <!-- Date Filter -->
      <label for="fromDate">From</label>
      <input type="date" id="fromDate" name="fromDate">

      <label for="toDate">To</label>
      <input type="date" id="toDate" name="toDate">
    </div>
  </aside>

  <main class="main-content">
    <!-- Main Content: Top Bar -->
    <div class="top-bar">
      <div class="tab">
        <button (click)="navigate('inventory-management')" >Inventory</button>
        <button (click)="navigate('order-management')">Orders</button>
        <button (click)="navigate('reporting')">Report</button>
        <button (click)="navigate('user-access-management')" class="active">Access</button>
        <button (click)="navigate('customer-management')">Customer</button>
        <button (click)="navigate('supplier-management')">Supplier</button>
      <!--<button (click)="navigate('supplier-order-management')">Supply Order</button>-->
      </div>
      <div class="user-info">Display Username</div>
    </div>

    <!-- Main Content: Product Listing -->
    <div class="product-list">
      <div class="list-header">
        <h2>Access Management</h2>
        <button class="add-new-btn" (click)="toggleUserModal()">Add New</button>
      </div>

      <!-- Add New Saff Modal -->
      <div class="modal" [ngClass]="{'show-modal': showUserModal}">
        <div class="modal-content">
          <span class="close" (click)="toggleUserModal()">&times;</span>
          <h2>Add New Staff</h2>
          <form (ngSubmit)="onSubmitStaff()" #addItemForm="ngForm">
            <div class="form-row">
              <div class="form-group">
                <label for="updateUserEmail">User ID:</label>
                <input type="text" id="createUserEmail" [(ngModel)]="newStaff.id" name="email" required>
              </div>
              <div class="form-group">
                <label for="updateUserContact">Action:</label>
                <input type="text" id="createupdateUserContact" [(ngModel)]="newStaff.user.roles[0].actions" name="contact" required>
              </div>
            </div>
            
            <div class="form-row">
              <div class="form-group">
                <label for="itemName">User First Name:</label>
                <input type="text" id="createUFName" [(ngModel)]="newStaff.firstName" name="name" placeholder="First Name" required>
              </div>
              <div class="form-group">
                <label for="itemName">User Last Name:</label>
                <input type="text" id="createULName" [(ngModel)]="newStaff.lastName" name="name" placeholder="Last Name" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemCondition">User Role:</label>
                <select id="createUposition" [(ngModel)]="newStaff.user.roles[0].name" name="position" required>
                  <option value="new">Admin</option>
                  <option value="new">Warehouse Manager</option>
                  <option value="new">Procurement Officer</option>
                  <option value="used">Sales Representative</option>
                </select>
              </div>
              <div class="form-group">
                <label for="updateUserEmail">Email:</label>
                <input type="text" id="createUserEmail" [(ngModel)]="newStaff.user.email" name="email" required>
              </div>
            </div>
            <!--<div class="form-row">
              <div class="form-group">
                <label for="itemName">User First Name:</label>
                <input type="text" id="FName" [(ngModel)]="newStaff.firstName" name="name" placeholder="First Name" required>
              </div>
              <div class="form-group">
                <label for="itemName">User Last Name:</label>
                <input type="text" id="LName" [(ngModel)]="newStaff.lastName" name="name" placeholder="Last Name" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemCondition">Position:</label>
                <select id="position" [(ngModel)]="newStaff.user.roles[0].name" name="position" required>
                  <option value="new">Admin</option>
                  <option value="new">Warehouse Manager</option>
                  <option value="new">Procurement Officer</option>
                  <option value="used">Sales Representative</option>
                </select>
              </div>
              <div class="form-group">
                <label for="itemCondition">Department:</label>
                <select id="department"  name="department" required>
                  <option value="new">IT</option>
                  <option value="new">Engineering</option>
                  <option value="new">Security</option>
                  <option value="new">Finance</option>
                  <option value="used">Human Resource</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemAvailable">Email:</label>
                <input type="text" id="itemAvailable" [(ngModel)]="newStaff.user.email" name="email" required>
              </div>
              <div class="form-group">
                <label for="itemReserved">Username:</label>
                <input type="text" id="itemReserved"  [(ngModel)]="newStaff.user.username" name="contact" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemPrice">Address:</label>
                <input type="text" id="createStaffAddress" [(ngModel)]="newStaff.address" name="createStaffAddress" required>
              </div>
              <div class="form-group">
                <label for="itemModified">Created By:</label>
                <input type="text" id="CreateLastModified" [(ngModel)]="newStaff.created_by" name="CreateLastModified" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemPrice">Create Date:</label>
                <input type="date" id="itemPrice" [(ngModel)]="newStaff.created_at" name="price" required>
              </div>
              <div class="form-group">
                <label for="itemModified">Last Update:</label>
                <input type="date" id="lastModified" [(ngModel)]="newStaff.updated_at" name="modified" required>
              </div>
            </div>-->

            <button type="submit" class="btn-add">Add User</button>
          </form>
        </div>
      </div>


      <!-- Update User Modal -->
      <div class="modal" [class.show-modal]="showUpdateModal">
        <div class="modal-content">
          <span class="close" (click)="toggleUpdateModal(false)">&times;</span>
          <h2>Update Staff</h2>
          <form (submit)="onUpdateStaff()" #updateUserForm="ngForm">

            <div class="form-row">
              <div class="form-group">
                <label for="updateUserEmail">User ID:</label>
                <input type="text" id="updateUserEmail" [(ngModel)]="selectedStaff.id" name="email" required>
              </div>
              <div class="form-group">
                <label for="updateUserContact">Action:</label>
                <input type="text" id="updateUserContact" [(ngModel)]="selectedStaff.user.roles[0].actions" name="contact" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemName">User First Name:</label>
                <input type="text" id="UFName" [(ngModel)]="selectedStaff.firstName" name="name" placeholder="First Name" required>
              </div>
              <div class="form-group">
                <label for="itemName">User Last Name:</label>
                <input type="text" id="ULName" [(ngModel)]="selectedStaff.lastName" name="name" placeholder="Last Name" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemCondition">User Role:</label>
                <select id="Uposition" [(ngModel)]="selectedStaff.user.roles[0].name" name="position" required>
                  <option value="new">Admin</option>
                  <option value="new">Warehouse Manager</option>
                  <option value="new">Procurement Officer</option>
                  <option value="used">Sales Representative</option>
                </select>
              </div>
              <div class="form-group">
                <label for="updateUserEmail">Email:</label>
                <input type="text" id="updateUserEmail" [(ngModel)]="selectedStaff.user.email" name="email" required>
              </div>
            </div>



            <!--<div class="form-row">
              <div class="form-group">
                <label for="itemPrice">Address:</label>
                <input type="text" id="staffAddress" [(ngModel)]="selectedStaff.address" name="staffAddress" required>
              </div>
              <div class="form-group">
                <label for="itemModified">Created By:</label>
                <input type="text" id="LastModifiedB" [(ngModel)]="selectedStaff.created_by" name="LastModifiedB" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="itemPrice">Create Date:</label>
                <input type="date" id="UitemPrice" [(ngModel)]="selectedStaff.created_at" name="price" required>
              </div>
              <div class="form-group">
                <label for="itemModified">Last Update:</label>
                <input type="date" id="UlastModified" [(ngModel)]="selectedStaff.updated_at" name="modified" required>
              </div>
            </div>-->
            <button type="submit" class="btn-add">Update Staff</button>
          </form>
        </div>
      </div>



      <!-- Table of Products -->
      <table>
        <thead>
        <tr>
          <th><input type="checkbox"></th> <!-- Checkbox in header for select all (optional) -->
          <th>No.</th>
          <th>STAFF</th>
          <th>POSITION</th>
          <th>DEPARTMENT</th>
          <th>EMAIL</th>
          <th>PHONE</th>
          <th>ADDRESS</th>
          <th>CREATE DATE</th>
          <th>CREATEOR</th>
          <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <!-- Example Product Row -->
        <tr *ngFor="let staff of staffs; let i = index">
          <td><input type="checkbox" name="selectedStaff" [value]="staff.id"></td>
          <td>{{ i + 1 }}</td>
          <td>{{ staff.firstName +' '+ staff.lastName }} </td>
          <td>{{ staff.id }}</td>
          <td>{{ staff.user.email }}</td>
          <td>{{ staff.user.username }}</td>
          <td>{{ staff.user.roles[0].name }}</td>

          <td>
            <button class="btn-action update-btn" (click)="selectStaffForUpdate(staff)">Update</button>
            <button class="btn-action delete-btn" (click)="deleteStaff(staff.id!)">Delete</button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </main>
</div>
