<script src="inventory-management.component.ts"></script>
<div class="dashboard">
    <aside class="sidebar">
      <!-- Sidebar: Filter Section -->
      <div class="filter-section">
        <h3>Filter Products</h3>
        <input type="text" placeholder="Search by name">

        <!-- Category Dropdown -->
        <label for="category">Category:</label>
        <select id="category" name="category">
          <option value="all">All Categories</option>
          <option value="electronics">Electronics</option>
          <option value="accessories">Accessories</option>
          <option value="apparel">Apparel</option>
          <!-- Add more categories as needed -->
        </select>

        <!-- Condition Checkboxes -->
        <fieldset class="filter-section">
          <legend>Condition:</legend>
          <div class="checkbox-group">
            <input type="checkbox" id="new" name="condition" value="new">
            <label for="new">New</label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="used" name="condition" value="used">
            <label for="used">Used</label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="refurbished" name="condition" value="refurbished">
            <label for="refurbished">Refurbished</label>
          </div>
          <div class="checkbox-group">
            <input type="checkbox" id="vintage" name="condition" value="refurbished">
            <label for="refurbished">Vintage</label>
          </div>
        </fieldset>

        <!-- Date Filter -->
        <label for="fromDate">From</label>
        <input type="date" id="fromDate" name="fromDate">

        <label for="toDate">To</label>
        <input type="date" id="toDate" name="toDate">
      </div>
    </aside>

    <main class="main-content">
      <!-- Main Content: Top Bar -->
      <div class="top-bar">
        <div class="tab">
          <button (click)="navigate('inventory-management')" class="active">Inventory</button>
          <button (click)="navigate('order-management')">Orders</button>
          <button (click)="navigate('reporting')">Report</button>
          <button (click)="navigate('user-access-management')">Access</button>
          <button (click)="navigate('customer-management')">Customer</button>
          <button (click)="navigate('supplier-management')">Supplier</button>
          <button (click)="navigate('supplier-order-management')">Supply Order</button>
        </div>
        <div class="user-info">Display Username</div>
      </div>

      <!-- Main Content: Product Listing -->
      <div class="product-list">
        <div class="list-header">
          <h2>Inventory Management</h2>
          <button class="add-new-btn" (click)="toggleModal()">Add New</button>
        </div>

        <!-- Add New Inventory Item Modal -->
        <div class="modal" [ngClass]="{'show-modal': showModal}">
          <div class="modal-content">
            <span class="close" (click)="toggleModal()">&times;</span>
            <h2>Add New Inventory Item</h2>
            <form (ngSubmit)="onSubmit()" #addItemForm="ngForm">
              <div class="form-row">
                <div class="form-group">
                  <label for="itemName">Name:</label>
                  <input type="text" id="itemName" [(ngModel)]="newProduct.name" name="name" placeholder="Product Name" required>
                </div>
                <div class="form-group">
                  <label for="itemCondition">Condition:</label>
                  <select id="itemCondition"  name="condition" required>
                    <option value="new">New</option>
                    <option value="used">Used</option>
                    <option value="refurbished">Refurbished</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label for="itemAvailable">Available:</label>
                  <input type="number" id="itemAvailable" [(ngModel)]="newProduct.quantity" name="available" required>
                </div>
                <div class="form-group">
                  <label for="itemReserved">Batch No:</label>
                  <input type="text" id="itemReserved" [(ngModel)]="newProduct.batch_no" name="reserved" required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label for="itemPrice">Price:</label>
                  <input type="text" id="itemPrice" [(ngModel)]="newProduct.price" name="price" required>
                </div>
                <div class="form-group">
                  <label for="itemModified">Last Restock:</label>
                  <input type="date" id="itemModified" [(ngModel)]="newProduct.batch_no" name="batch_no" required>
                </div>
              </div>

              <button type="submit" class="btn-add">Add Item</button>
            </form>
          </div>
        </div>


        <!-- Update Inventory Item Modal -->
        <div class="modal" [class.show-modal]="showUpdateModal">
          <div class="modal-content">
            <span class="close" (click)="toggleUpdateModal(false)">&times;</span>
            <h2>Update Inventory Item</h2>
            <form (submit)="onUpdateProduct(selectedProduct.product_id!)">
              <div class="form-row">
                <div class="form-group">
                  <label for="updateItemName">Name:</label>
                  <input type="text" id="updateItemName" [(ngModel)]="selectedProduct.name" name="name" placeholder="Product Name" required>
                </div>
                <div class="form-group">
                  <label for="itemCondition">Condition:</label>
                  <select id="upDateItemCondition"  name="condition" required>
                    <option value="new">New</option>
                    <option value="used">Used</option>
                    <option value="refurbished">Refurbished</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label for="itemAvailable">Available:</label>
                  <input type="number" id="updateItemAvailable" [(ngModel)]="newProduct.quantity" name="available" required>
                </div>
                <div class="form-group">
                  <label for="itemReserved">Batch No:</label>
                  <input type="number" id="updateItemReserved"  [(ngModel)]="newProduct.batch_no" name="reserved" required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group">
                  <label for="itemPrice">Price:</label>
                  <input type="text" id="updateItemPrice" [(ngModel)]="newProduct.price" name="price" required>
                </div>
                <div class="form-group">
                  <label for="itemModified">Batch Date:</label>
                  <input type="date" id="updateItemModified" name="modified" required>
                </div>
              </div>
              <button type="submit" class="btn-add">Update Item</button>
            </form>
          </div>
        </div>


        <!-- Table of Products -->
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"></th> <!-- Checkbox in header for select all (optional) -->
              <th>No.</th>
              <th>NAME</th>
              <th>PRICE</th>
              <th>STOCK</th>
              <th>BATCH NO.</th>
              <th>PRICE</th>
              <th>MODIFIED</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <!-- Example Product Row -->
            <tr *ngFor="let product of products; let i = index">
              <td><input type="checkbox" name="selectedProduct" [value]="product.product_id"></td>
              <td>{{ i + 1 }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.batch_no }}</td>
              <td>$10.13</td>
              <td>03/13/2017</td>
              <td>
                <button class="btn-action update-btn" (click)="selectProductForUpdate(product)">Update</button>
                <button class="btn-action delete-btn" (click)="deleteProduct(product.product_id!)" >Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </main>
  </div>
